// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$font-family-Cabo_Slab_Regular: 'Cabo_Slab_Regular';
$font-family-Barcelony: 'Barcelony';
$font-family-PangramSans-Medium: 'PangramSans-Medium';
$font-family-PangramSans-Black: 'PangramSans-Black';
$font-family-PangramSans-Thin: 'PangramSans-Thin';
$font-family-PangramSans-Regular: 'PangramSans-Regular';
$font-family-MonumentExtended-Black: 'MonumentExtended-Black';
$font-family-MonumentExtended-Regular: 'MonumentExtended-Regular';
$font-family-MonumentExtended-Light: 'MonumentExtended-Light';
$font-family-PangramSans-Bold: 'PangramSans-Bold';

.font-family-Cabo_Slab_Regular {
  font-family: $font-family-Cabo_Slab_Regular;
}

.font-family-Barcelony {
  font-family: $font-family-Barcelony;
}

.font-family-PangramSans-Bold {
  font-family: $font-family-PangramSans-Bold;
}

.font-family-PangramSans-Medium {
  font-family: $font-family-PangramSans-Medium;
}

.font-family-PangramSans-Black {
  font-family: $font-family-PangramSans-Black;
}

.font-family-PangramSans-Thin {
  font-family: $font-family-PangramSans-Thin;
}

.font-family-PangramSans-Regular {
  font-family: $font-family-PangramSans-Regular;
}

.font-family-MonumentExtended-Black {
  font-family: $font-family-MonumentExtended-Black;
}

.font-family-MonumentExtended-Regular {
  font-family: $font-family-MonumentExtended-Regular;
}

.font-family-MonumentExtended-Light {
  font-family: $font-family-MonumentExtended-Light;
}
